<form action = "/" method = "GET">        
    <input type="hidden" name="form_submission" value="true" />
    <select name="to_do">
        <option value="">&mdash;Select an action&mdash;</option>
        <option value="list">List users</option>
        <option value="add">Add a user</option>
        <option value="query">User details</option>
    </select> <br />
    <label>First Name:</label> <input type = "text" name = "first_name">  <br />
    <label>Last Name:</label> <input type = "text" name = "last_name"> <br />
    <input type = "submit" value = "Submit">
</form>