<h2>User details for {{FirstName}} {{LastName}}</h2>

{{#if person}}
<table>
    <tr><th>Key</th><th>Value</th>
    {{#each person}}
    <tr><td>{{@key}}</td><td>{{this}}</td></tr>
    {{/each}}
</table>
{{/if}}
{{#unless person}}
<p>No passenger by that name was found in the database.</p>
{{/unless}}

<h2>Next action</h2>

{{> whoareyou fullform=true row=person}}
