<h2>User details for {{first_name}} {{last_name}}</h2>

{{#if person}}
<table>
    <tr><th>Key</th><th>Value</th>
    {{#each person}}
    <tr><td>{{@key}}</td><td>{{this}}</td></tr>
    {{/each}}
</table>
{{/if}}
{{#unless person}}
<p>No passenger by that name was found in the database.</p>
{{/unless}}

{{> nextaction}}