<h2>User details for {{first_name}} {{last_name}}</h2>

<table>
    <tr><th>Key</th><th>Value</th>
    {{#each person}}
    <tr><td>{{@key}}</td><td>{{this}}</td></tr>
    {{/each}}
</table>

{{> nextaction}}